.banner {
    background-image: url('../images/banner.png');
    object-fit: cover;
    max-width: 80.375rem;
    height: 15.625rem;
    color: var(--white);
    font: var(--headline1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {
    .banner {
        font-size: .75rem;
        height: 10rem;
    }
}