::-webkit-scrollbar {
    inline-size: .5rem;
    block-size: .5rem;
}

/*::-webkit-scrollbar-button {
}*/

::-webkit-scrollbar-thumb {
    background: var(--boulder);
    border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--purple-bg);
    border-radius: .5rem;

}